<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rkr.notepad.drive">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!--
    Icon based on:
        Vicent Pla https://www.iconfinder.com/icons/204794/myphoneexplorer_notes_icon
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DocumentList"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextEditor"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DocumentList" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@android:style/Theme.Holo.Light" />

        <service
            android:name=".DriveService"
            android:exported="false"/>
    </application>

</manifest>
